:root {
  --main-color: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Sono", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fafaf9;
  background-color: #292524;
  overflow-x: hidden;
  padding: 4rem;
}

/* LAYOUT */

.header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 4rem;
}

h1 {
  font-family: "Coiny", sans-serif;
  font-size: 4.2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0.6rem;
}

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 4.8rem;
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.fact {
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.1rem;
  background-color: #44403c;
  padding: 1.6rem 2.4rem;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.tag {
  font-family: "Coiny", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.3rem 1rem 0 1rem;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
